In [4]:
import pandas as pd
import numpy as np
import yfinance as yf

In [8]:
# Now, let's retrieve the S&P 500 data of the past 5 years using yfinance
sp500 = yf.Ticker("^GSPC").history(period="max")
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-03 00:00:00-05:00,5891.069824,5949.339844,5888.660156,5942.470215,3667340000,0.0,0.0
2025-01-06 00:00:00-05:00,5982.810059,6021.040039,5960.009766,5975.379883,4940120000,0.0,0.0
2025-01-07 00:00:00-05:00,5993.259766,6000.680176,5890.680176,5909.029785,4517330000,0.0,0.0
2025-01-08 00:00:00-05:00,5910.660156,5927.890137,5874.779785,5918.250000,4441740000,0.0,0.0
2025-01-10 00:00:00-05:00,5890.350098,5890.350098,5807.779785,5827.040039,4751930000,0.0,0.0

In [11]:
# Resample to monthly data and get Open and Close
monthly_sp500 = sp500.resample('ME').agg({'Open': 'first', 'Close': 'last'})
# Drop the last row, which is the current month
monthly_sp500 = monthly_sp500.iloc[:-1]
monthly_sp500

                                  Open        Close
Date
1927-12-31 00:00:00-05:00    17.660000    17.660000
1928-01-31 00:00:00-05:00    17.760000    17.570000
1928-02-29 00:00:00-05:00    17.530001    17.260000
1928-03-31 00:00:00-05:00    17.299999    19.280001
1928-04-30 00:00:00-04:00    18.910000    19.750000
...                                ...          ...
2024-08-31 00:00:00-04:00  5537.839844  5648.399902
2024-09-30 00:00:00-04:00  5623.890137  5762.479980
2024-10-31 00:00:00-04:00  5757.729980  5705.450195
2024-11-30 00:00:00-05:00  5723.220215  6032.379883
2024-12-31 00:00:00-05:00  6040.109863  5881.629883

[1165 rows x 2 columns]